<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylsheets/login.css">
    <script type="text/javascript" src="js/app.js"></script>
<body>
    <div class="content">      
        <!--FORMULÁRIO DE LOGIN-->
        <div id="login">
          <form method="post" action=""> 
            <h1>Registrarse</h1> 
            <p> 
              <input id="nombre" name="nombre_registro" required="required" type="text" placeholder="Nombre" />
            </p>
            <p> 
              <input id="apellido" name="apellido_registro" required="required" type="text" placeholder="Apellido" />
            </p>
            
            <p> 
              <input id="email" name="email_registro required="required" type="email" placeholder="Ingrese su e_mail" /> 
            </p>
            
            <p> 
              <input id="contrasena" name="contraseña_registro" required="required" type="password" placeholder="Contraseña"/>
            </p>
            <p> 
              <input id="contrasena2" name="contraseña_registro" required="required" type="password" placeholder="Confirme contraseña"/>
            </p>
            <p> 
              <input type="submit" onclick = "registrar()" value="Registrarse"/> 
              
            </p>
             
            <p class="link">  
              Yá tiene cuenta?
              <a href="login.html"> Ir para Login </a>
            </p>
          </form>
        </div>
    
</body>
</html>
            
           